<!DOCTYPE html>

<html>
    {% include head.html %}
    <body>
        <div class="container">
          <div class="site">
            {% include header.html %}
            <div class="content">
              <div class="banner">
                <div class="photo">
                  <img src="/assets/WebPic.jpg" width="210px" height="294px">
                </div>
                <div class="contact">
                  Department of Statistics <br>
                  North Carolina State University<br>
                  (office address coming soon)<br>
                  <br>
                  Email: <a href="mailto:jwilli27@ncsu.edu">jwilli27@ncsu.edu</a> <br>
                </div>
              </div>
			  

        <b>Brief biography</b> 
				<br>
				<br>
				Welcome to my webpage!  I will be starting as an Assistant Professor (tenure-track) in the Department of Statistics at North Carolina State University in the Fall of 2019.
				
				<br>
				<br>
				I have a PhD in Statistics from the University of North Carolina at Chapel Hill, and was very fortunate to work under the direction of my adviser <a href="https://hannig.cloudapps.unc.edu/index.html"><b>Jan Hannig</b></a> at UNC, and <a href="https://scholar.google.com/citations?user=beuROLsAAAAJ&hl=en#"><b>Curt Storlie</b></a> at the Mayo Clinic.
				
				<br>
				<br>
				Before my PhD I studied math and economics at Eastern Michigan University, and completed a master's degree in mathematics from New York University, Courant.  I was very lucky to write a master's thesis under the direction of Ying Lu at NYU.
				
        <br>
				<br>
				
				<a href="assets/CV.pdf"><b>Curriculum Vitae</b></a>
				
        <br>
				<br>
				
			  <b>In the media</b> 
				<br>
				One of my papers has been featured on a popular machine learning podcast <a href="https://www.thetalkingmachines.com/article/bayesian-approach-multi-state-hidden-markov-models-application-dementia-progression"><b>website</b></a>.
              </div>
            </div>
            <div class="sidebar"></div>
            {% include footer.html %}
          </div>
        </div>
      </div>
    </body>
</html>
