<!DOCTYPE html>

<html>
    {% include head.html %}
    <body>
        <div class="container">
          <div class="site">
            {% include header.html %}
            <div class="content">
              <div class="banner">
                <div class="photo">
                  <img src="/assets/WebPic.jpg" width="210px" height="294px">
                </div>
                <div class="contact">
									5218 SAS Hall<br>
									Department of Statistics<br>
                  North Carolina State University<br>
                  <br>
                  email: <a href="mailto:jwilli27@ncsu.edu">jwilli27@ncsu.edu</a> <br>
									office phone: 919.513.0191
                </div>
              </div>
			  

<b>Brief biography</b> 
<br>
Welcome to my webpage!  I am an Assistant Professor (tenure-track) in the Department of Statistics at North Carolina State University.  My PhD is in Statistics from UNC at Chapel Hill, and I have an MS in Mathematics from the Courant Institute of Mathematical Sciences at NYU.
<br>

<br>
Link: <a href="assets/CV_Williams.pdf"><b>Curriculum Vitae</b></a>
<br>
Link: <a href="https://scholar.google.com/citations?user=rzzeE0gAAAAJ&hl=en"><b>Google Scholar Profile</b></a>
<br>
<div itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://orcid.org/0000-0001-5164-9430" href="https://orcid.org/0000-0001-5164-9430" target="orcid.widget" rel="noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">https://orcid.org/0000-0001-5164-9430</a></div>

<br>
<b>Current research interests</b>
<ul>
<li> Foundations of statistics </li>
<li> Conformal predictions </li>
<li> Hidden Markov models </li>
<li> Model/feature selection </li>
<li> Medical science applications </li>
<li> Conflict research applications </li>
</ul>

<br>
<b>News</b> 
<br>

<br>
[November 2024] I have 3 current/former students on the tenure-track academic job market this year! Check out their websites (below), and invite them for an interview!
<br>
Salil Koner (currently a Postdoc at Duke University): <a href="https://salilkoner.github.io"><b>website</b></a>
<br>
Neil Dey (5th year PhD student): <a href="https://neil-dey.github.io"><b>website</b></a>
<br>
Emmett Kendall (5th year PhD student): <a href="https://ebkendall.github.io"><b>website</b></a>
<br>



<br>
My PhD student, Jimmy Hickey, co-advised by Emily Hector, successfully defended his dissertation in October 2024!  Congratulations, Dr. Hickey!  Check out his paper proposing our RECaST formulation for tranfer learning that has just been accepted at JMLR: <a href="https://arxiv.org/pdf/2211.16557"><b>Manuscript</b></a>!
<br>
And his website: <a href="https://jimmyjhickey.com/research"><b>link</b></a>.
<br>

<br>
I have accepted an invitation to participate on-site at the Chennai Mathematical Institute, for the Banff International Research Station for Mathematical Innovation and Discovery (BIRS) workshop: <a href=http://www.birs.ca/events/2025/5-day-workshops/25w5482><b>Game-Theoretic Statistical Inference: Optional Sampling, Universal Inference, and Multiple Testing based on E-Values</b></a>, Sunday, June 29 to Friday, July 4, 2025!
<br>

<br>
My PhD Student, Naomi Giertych, has just published our manuscript in the journal Reports on Progress in Physics, as one of the first four original research articles to be published by the journal.  Reports on Progress in Physics has served the physics community as a premier review journal for the past 90 years, and has just this year (2024) expanded to publish original research articles.  Here is the press release from the publisher:
<a href="https://ioppublishing.org/news/first-original-research-papers-published-in-iop-publishings-prestigious-journal-reports-on-progress-in-physics/"><b>link</b></a>.
<br>

<br>
My PhD student, Mohamed Abba, co-advised by Brian Reich, graduated in Spring 2024!  Congratulations, Dr. Abba!
<br>

<br>
The Associate Director for Data Science at the National Institutes of Health (NIH) noted my current research with Mayo Clinic, on identifying bleeding events in hospital ICUs, as one of three exemplary software development projects currently funded by the NIH.  See slide 5 of the slide deck presented as part of a panel discussion at the 2023 Joint Statistical Meetings in Toronto: <a href="https://www.amstat.org/docs/default-source/amstat-documents/gregurick.pdf"><b>link</b></a>.
<br>


<br>
My PhD student, Alexander Murph, co-advised by Jan Hannig and Curt Storlie, graduated in Spring 2023!  Congratulations, Dr. Murph! 
<br>
Check out his research at: <a href="https://sirmurphalot.github.io"><b>website</b></a>.
<br>

<br>
Beginning in 2023, I will serve as an Associate Editor for the <i>Journal of the American Statistical Association: Reviews</i>.
<br>

<br>
I have been invited as a Visiting Fellow as part of the 2022-2023 research project <i>Stability and Change</i> at the Centre for Advanced Study at The Norwegian Academy of Science and Letters (<a href="https://cas-nor.no/project/stability-and-change"><b>website</b></a>).  As part of my participation, I will be in Oslo, Norway during August - December 2022.
<br>

<br>
I was awarded the 2021-22 LeRoy and Elva Martin Award for Teaching Excellence: <a href="https://sciences.ncsu.edu/news/college-honors-2021-22-leroy-and-elva-martin-award-recipients/?utm_medium=social&utm_source=twitter&utm_content=sciences&utm_campaign=socialhub"><b>website</b></a>.
<br>

<br>
<img src="/assets/Salil_pic.jpg" width="600px" height="400px">
<br>
My first PhD student, Salil Koner, co-advised by Ana-Maria Staicu, graduated in Fall 2021!  Congratulations, Dr. Koner! <br>
Check out his research at: <a href="https://salilkoner.github.io"><b>website</b></a>.
<br>

<br>
<img src="/assets/REU_pic.jpg" width="403px" height="302px">
<br>
Completed a great Summer 2021 REU project with these excellent undergraduate students.  <br>
Check out the preprint of our manuscript: <a href="https://arxiv.org/pdf/2111.02592.pdf"><b>website</b></a>.
<br>				

<br>
One of my papers has been featured on a popular machine learning podcast <a href="https://www.thetalkingmachines.com/article/bayesian-approach-multi-state-hidden-markov-models-application-dementia-progression"><b>website</b></a>.
<br>


				
							</div>
            </div>
            <div class="sidebar"></div>
            {% include footer.html %}
          </div>
        </div>
      </div>
    </body>
</html>
