<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="container">
          <div class="site">
            {% include header.html %}
            <div class="content">
              <div class="banner">
                <div class="photo">
                  <!-- <img src="/assets/me.jpg" width="140px" height="196px"> -->
                </div>
                <div class="contact">
                  Department of Statistics and Operations Research <br>
                  University of North Carolina, Chapel Hill<br>
                  Hanes Hall B44<br>
                  <br>
                  Email: <a href="mailto:jpwill@live.unc.edu">jpwill@live.unc.edu</a> <br>
                </div>
              </div>
			  
			    <b>In the media</b> 
				<br>
				One of my papers has been featured on a popular machine learning podcast <a href="https://www.thetalkingmachines.com/article/bayesian-approach-multi-state-hidden-markov-models-application-dementia-progression"><b>website</b></a>.
				
				<br>
				
				<br>

                <b>Brief biography</b> 
				<br>
				Welcome to my webpage!  I am currently a 4th year PhD candidate in statistics in the Department of Statistics and Operations Research at the University of North Carolina at Chapel Hill.  I’m very fortunate to work under the direction of my adviser Jan Hannig at UNC, and Curt Storlie at the Mayo Clinic.  My research is a combination of statistical theory with Jan, and applied statistics with Curt (applications in medical science).  I'm interested in Bayesian and fiducial methods of inference because I believe they faciliate more natural interpetability, but I also think it is wrong to ignore uncertainty with respect to the sampling distribution of the data.  I also believe that even theoretically focused statisticians should spend at least as much time on applications as they do on methods.
				
				<br>
				
				<br>
				Before coming to UNC I studied math and economics at Eastern Michigan University, and completed a master's degree in mathematics from New York University, Courant.  I was very lucky to write a master's thesis under the direction of Ying Lu at NYU.
				
                <br>
				
				<br>
				
				<a href="assets/CV.pdf"><b>Curriculum Vitae</b></a>
				<a href="assets/googled2a932c7bbcda28b.html"><b>temp</b></a>
              </div>
            </div>
            <div class="sidebar"></div>
            {% include footer.html %}
          </div>
        </div>
      </div>
    </body>
</html>
